<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getTitle()}">VALUE</p>
<p th:text="${book.getAuthor()}">VALUE</p>
<p th:text="${book.getYear()}">VALUE</p>
<p th:text="${book.getId()}">VALUE</p>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit Book">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete Book">
</form>

<div th:if="${reserve}">
    <span>Book's reserve now by : </span> <span th:text="${reserve.getFull_name()}">Person name </span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Clear book reserve">
    </form>
</div>

<div th:if="${people}">
    <span>This book are not taken, which one going to take it?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Choose a person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFull_name()}"></option>
        </select>
        <input type="submit" value="Give the book">
    </form>
</div>





</body>
</html>